/* main.css */
 @media (min-width: 1280px) {
  
.indexbackground {
	width: 100%; height: 118%;
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
  }
.photo24background {
	width: 100%; height: 194%;
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
  }
  }                                           /* end @media 1280 px */
canvas {
	width: 100%; height: 100%;
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
  }

.wrapper {
    width: 90%;
    margin: 0 auto;
}
.editable {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    opacity:.95;
    font-weight: normal;
    color: #ffffff;
    padding-left: 1%;
}
header {
    width: 100%;
    margin: 3% auto;
    background-color: rgba(0, 0, 0, 0.90);
    opacity:.95;
}
.logo {
    margin: 5% auto;
}
.navbar-heade {
background-color: rgba(0, 0, 0, 0.90);
    opacity:.95;
}
.navbar .nav .active > a {
    background-color: #9f0f0e;
}
.form {
    margin: 10% auto;
}
.redline {
    width: 100%;
    height: 10px;
    padding-top: -20%;
    background-color: #9f0f0e;
    z-index: "2";
}
img {
    display: block;
    margin: auto;
}
.color_link {
    color: #FFFFFF;
    text-shadow: black 0.1em 0.1em 0.2em;
}
footer {
    background-color: #ffffff;
    width: 90%;
    margin: 2% auto;
    style="z-index:2;" 
}
